<div class="home py-4 text-center text-white ">
  <img src="assets/avataaars.svg" alt="">
  <div class="home-content">
    <h2 class="text-center mt-5 fw-bolder fs-1">START FRAMEWORK</h2>
  </div>
  <div class="shapes d-flex justify-content-center align-items-center mt-3 mb-3">
    <div class="before-star bg-white me-3"></div>
    <i class="fa-solid fa-star"></i>
    <div class="after-star bg-white ms-3"></div>
  </div>
  <p class="mb-4">Graphic Artist - Web Designer - Illustrator</p>



</div>
